{% extends 'site/include/header.twig' %}
{% block title %}Zapomniałeś hasła{% endblock %}


{% block body %}

    <h1>Zapomniałeś hasła ?</h1>
    {% autoescape %}
        {{ validation|raw }}
    {% endautoescape %}
    <form class="forgot_password" action="{{ base_url() }}account/forgot-password" method="POST" id="forgot_password">
        <div class="form-group">
            <label for="email">Adres e-mail</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
        </div>
        <button type="submit" class="btn btn-default">Przypomnij hasło</button>
    </form>


{% endblock %}