{% extends 'site/include/header.twig' %}

{% block title %}Resetowanie hasła{% endblock %}

{% block body %}

    <h1>Resetowania hasła</h1>
    {% autoescape %}
        {{ validation|raw }}
    {% endautoescape %}
    <form class="login_user" action="{{ base_url() }}account/reset_password/{{ code }}" method="POST" id="add_user">
        <div class="form-group">
            <label for="Password">Nowe Hasło</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Podaj hasło...">
        </div>
        <div class="form-group">
            <label for="retry_password">Powtórz nowe hasło</label>
            <input type="password" class="form-control" id="password_retry" name="password_retry" placeholder="Powtórz hasło...">
        </div>
        <button type="submit" class="btn btn-default">Resetuj hasło</button>
    </form>



{% endblock %}